name: Go test
on: [push]

jobs:
  artio-miner-go-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.0'
      - name: Install dependencies
        run: |
          go mod download
          go build -v ./...
          go test -v ./...